@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&display=swap');

:root {
    --primary-color: #003559;
    --secondary-color: #B9D6F2;
    --off-color: #484848;
    --accent1-color: #FDCA40;
    --accent2-color: #F79824;

    --heading-font: 'Madimi One', serif;
    --paragraph-font: "Ojuju", sans-serif; font-weight: 500; font-style: normal;

    --nav-background-color: #003559;
    --nav-link-color: #FDCA40;
    --nav-hover-link-color: #F79824;
    --nav-hover-background-color: #B9D6F2;
}

body {
    background-color: var(--primary-color);
}

nav {
    background-color: var(--off-color);
    grid-column-start: 2;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

h2 {
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    max-width: 960px;
    padding: 20px;
}

main {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 66% 33%;
}

/* class items */

.card {
    border: solid 1px var(--secondary-color);
    padding-left: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.card h3 {
    padding-top: 2rem;
}

.portrait {
    display: inline-flex;
    float: right;
    border-radius: 10px;
}

.flag {
    display: inline-flex;
    border-radius: 10px;
}

.dev {
    display: grid;
    justify-content: center;
    grid-row-gap: 3rem;
}